body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url(fon_foto.jpg);
    color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}

#player {
    margin: 20px 0;
}

img {
    width: 30%;
    border-radius: 5px;
}

#progress {
    width: 100%;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #45a049;
}


    #audio {
        display: none;
    }


